<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<% if @game_presenter.computer_has_next_turn? %>
  <meta http-equiv="refresh" content="0;URL='<%= @next_turn_url %>'" />
<% end %>
<title>TicTacToe</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1><strong>Status:</strong> <%= @game_presenter.status %></h1>
      <% unless @game_presenter.board.nil? %>
        <% (0...@game_presenter.board.number_of_positions).each do |index| %>
          <div class="cell"
            style="width: <%= @game_presenter.cell_size %>; padding-bottom: <%= @game_presenter.cell_size %>;">
            <a href="<%= @next_turn_url %>&position=<%= index %>">
              <%= @game_presenter.board.get_mark_at_position(index) %>
            </a>
          </div>
        <% end %>
      <% end %>

      <% unless @error_message.nil? %>
        <p class="error"><%= @error_message %></p>
      <% end %>

      <h3><a href="/">Click Here to set up a new game</a></h3>
    </div>
  </div>
</div>

</body>
</html>
