<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TicTacToe</title>
<link rel="stylesheet" href="/css/main.css">

<% if ENV['USE_COFFEESCRIPT'] %>
  <script type="text/javascript" src="coffeescripts/lib/namespace.js"></script>
  <script type="text/javascript" src="coffeescripts/lib/json_response_handler.js"></script>
  <script type="text/javascript" src="coffeescripts/lib/ajax_caller.js"></script>
  <script type="text/javascript" src="coffeescripts/lib/game_client.js"></script>
  <script type="text/javascript" src="coffeescripts/lib/config.js"></script>
  <script type="text/javascript" src="coffeescripts/lib/main.js"></script>
<% else %>
  <script type="text/javascript" src="javascripts/vendor/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/jquery.cookie.js"></script>
  <script type="text/javascript" src="javascripts/json_response_handler.js"></script>

  <script type="text/javascript" src="javascripts/cookie_storage.js"></script>
  <script type="text/javascript" src="javascripts/storage.js"></script>
  <script type="text/javascript" src="javascripts/ajax_sender.js"></script>
  <script type="text/javascript" src="javascripts/game_client.js"></script>
  <script type="text/javascript" src="javascripts/game_setup.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
<% end %>
</head>
<body>
<section>
  <h1 id="status"><%= @game_presenter.status %></h1>
  <% @game_presenter.board_as_array.each_with_index do |mark, index| %>
    <div class="cell"
    style="width: <%= @game_presenter.cell_size %>; padding-bottom: <%= @game_presenter.cell_size %>;">
    <a id=<%="cell#{index}" %> href="#" onclick="gameClient.cellClicked(<%= index %>); return false;">
      <%= mark %>
    </a>
  </div>
<% end %>

  <h3><a href="/">Click here to set up a new game</a></h3>
</section>

</body>
</html>
