<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TicTacToe</title>
<link rel="stylesheet" href="assets/css/main.css">

<script type="text/javascript" src="assets/javascripts/vendor/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="assets/javascripts/vendor/jquery.cookie.js"></script>
<% if ENV['USE_JAVASCRIPT'] %>
  <script type="text/javascript" src="assets/javascripts/json_response_handler.js"></script>
  <script type="text/javascript" src="assets/javascripts/storage.js"></script>
  <script type="text/javascript" src="assets/javascripts/startup.js"></script>
  <script type="text/javascript" src="assets/javascripts/ajax_sender.js"></script>
  <script type="text/javascript" src="assets/javascripts/game_client.js"></script>
  <script type="text/javascript" src="assets/javascripts/game_setup.js"></script>
  <script type="text/javascript" src="assets/javascripts/constants.js"></script>
  <script type="text/javascript" src="assets/javascripts/main.js"></script>
<% else %>
  <script type="text/javascript" src="assets/coffeescripts/src/namespace.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/temporary_storage.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/cookie_storage.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/json_response_handler.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/ajax_caller.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/game_client.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/config.coffee"></script>
  <script type="text/javascript" src="assets/coffeescripts/src/main.coffee"></script>
<% end %>
</head>
<body>
<section>
  <h1 id="status"><%= @game_presenter.status %></h1>
  <% @game_presenter.board_as_array.each_with_index do |mark, index| %>
    <div class="cell"
    style="width: <%= @game_presenter.cell_size %>; padding-bottom: <%= @game_presenter.cell_size %>;">
    <a id=<%="cell#{index}" %> href="#" onclick="gameClient.cellClicked(<%= index %>); return false;">
      <%= mark %>
    </a>
  </div>
<% end %>

  <h3><a href="/">Click here to set up a new game</a></h3>
</section>

</body>
</html>
